<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script>
    const init = () => {
      // Grab token if in hash
      if (!!window.location.hash) {
        const matches = window.location.hash.match(
          /access_token=(.*)&token_type/
        );
        if (!!matches && matches.length == 2) {
          const token = matches[1];

          fetch(`/callback?token=${token}`, { method: "POST" }).then(() => {
            window.location.href = "/home";
          });
        }
      }
    };

    init();
  </script>
  <body></body>
</html>
