<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>
  </head>
  <body>
    <div class="login">
      <h1>Login</h1>
      <h2>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <b>{{message}}</b>
        {% endfor %} {% endif %} {% endwith %}
      </h2>
         <div class="userInput">
      <form method="POST" action="/handle_login">
        <input type="text" name="email" placeholder="Enter your email" />
        <br>
        <br>
        <input type="text" name="password" placeholder="Enter your password" />
        <input type="submit" class="submit" value="Submit!" />
        <br>
        <a class="signup" href="/handle_signup">Click this button to signup </a>
      </div>
      </form>
    </div>
  </body>
</html>
