<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="static/style.css" rel="stylesheet" type="text/css">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup page</title>
  </head>
  <body>
    <div class="signup">
      <h1>Sign up!</h1>
      <h2>
        {% with messages = get_flashed_messages() %} {% if messages %} {% for
        message in messages %}
        <b>{{message}}</b>
        {% endfor %} {% endif %} {% endwith %}
      </h2>
          <div class="userInput">
        <form method="POST" action="/handle_signup">
          <input type="text" name="email" placeholder="Enter a email" />
          <br>
          <br>
          <input type="text" name="password" placeholder="Enter a password" />
          <input type="submit" class="submit" value="submit" />
          <br>
          <a class="login" href="/handle_login">Click this button to login</a>
        </div>
        </form>
    </div>
  </body>
</html>
